* {
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: #003290;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
}

.logoEncabezado {
    width: 70px;
    margin-left: 15px;
}

.textoEncabezado {
    width: 300px;
    margin-left: 15px;

}

.nav {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #02236D;
    
}

.navBarMenu {
    background-color: #02236D;
    color: white;
    display: flex;
    
}


.nav-item {
    font-weight: bold;
    color: #f39608;
}

.nav-item:hover {
    background-color: #f39608;
}
/*Estilos iconos carrito y basura*/
.btnCartIcon{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #f39608;
    margin: 5px;
    border: none;
}
.carrito{
    height: 25px;
}

.cartWidget{
    margin-left: auto;
}
.iconosCart{
    display: flex;
}
/*Estilos carrito*/
.contenedorCarrito{
    background-color: white;
    border: solid 0.5px #666666;
    margin: 15px;
    border-radius: 3px;
    text-align: center;
   }
.titulosCarritoVacio{
    display: block;
    color: #666666;
    padding: 30px;
}
.btnContinuarCompra{
    margin-right: 15px;
    display: block;
    text-align: end
}
