* {
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: #003290;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
}

.logoEncabezado {
    width: 70px;
    margin-left: 15px;
}

.textoEncabezado {
    width: 300px;
    margin-left: 15px;

}

.nav {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #02236D;
    
}

.navBarMenu {
    background-color: #02236D;
    color: white;
    display: flex;
    
}


.nav-item {
    font-weight: bold;
    color: #f39608;
}

.nav-item:hover {
    background-color: #f39608;
}
.carrito{
    width: 40px;
    height: 40px;
    margin-left: 70%;
}
.carrito:hover{
    background-color: #f39608;
    border-radius: 100%;
    cursor: pointer;
}
.cartWidget{
    margin-left: 70%;
}
