.itemCount {
    background-color: #f39608;
    height: 140px;
    width: 290px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    display: block;
    text-align: center;
   
}

.controlCantidad {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-left: 60px;
    width: 150px;
}

.controlSuma {
    cursor: pointer;
    color: blue;
    height: 15px;
    width: 15px;
    border: none;
}
.buttonAddCarrito{
    width: 150px;
    color: blue;
    background-color: white;
    border-color: blue;
    margin: 5px;
}