.itemCount {
    background-color: white;
    height: 110px;
    width: 290px;
    padding: 10px;
    margin: 20px;
    display: block;
    text-align: center;
}

.buttonAddCarrito {
    width: 250px;
    height: 50px;
    color: white;
    background-color: #2e82ff;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    font-size: medium;
}

.cantidadProductosSeleccionados {
    background-color: white;
    border: solid 1px black;
    width: 100px;
    height: 30px;
}

.btnResta {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 7px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}

.btnSuma {
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 7px;
    border: none;
}

.controlCantidad {
    display: inline-flex;
    align-items: center;

}