.productos {
    display: flex;

}

.categoria {
    display: flex;
    margin: 15px;
  align-items: center;
}

.tituloCategorias {
    color: black;
    font-family: Helvetica;
    margin-right: 10px;
}

.genero {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #003290;
    
}